.root {
    -fx-background-color: #f9f9f9;
}

.top-bar {
    -fx-padding: 10px;
    -fx-background-color: #202020;
}

.search-field {
    -fx-pref-width: 400px;
    -fx-prompt-text-fill: #606060;
    -fx-background-color: #121212;
    -fx-text-fill: white;
    -fx-border-color: #303030;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.video-grid {
    -fx-background-color: #f9f9f9;
}

.video-card {
    -fx-background-color: #ffffff;
    -fx-border-radius: 8px;
    -fx-padding: 8px;
    -fx-max-width: 320px; /* Ensure cards don't expand too much */
}

.video-card:hover {
    -fx-background-color: #e0e0e0;
    -fx-cursor: hand;
}

.video-thumbnail {
    -fx-border-radius: 8px;
}

.video-title {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.fullscreen-root {
    -fx-background-color: #000; /* Black background for fullscreen */
}
